<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>

<body>
    <h2>Registration</h2>
    <form action="/register" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="mobile">Mobile Number:</label><br>
        <input type="text" id="mobile" name="mobile" required><br>
        <label for="Email">Email:</label><br>
        <input type="text" id="Email" name="Email" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="/">Login here</a></p>
</body>

</html>